.contact {
    background-color: #2D4689;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 160px;
    /*height: 164px;*/
    margin-top: 100px;
}

.encarte, .compre-tel, .redes {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}
.ativo {
  text-decoration: underline;
  font-size: 10px;
  letter-spacing: 1px;
}
p {
    margin-top: 20px;
    width: 193px;
    /*height: 82px;*/
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
.perfil {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}
