@import url(.//header.css);
@import url(.//marcas.css);
@import url(.//departments.css);
@import url(.//footer.css);
/*@import url(./styles/produtos.css);*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', sans-serif;
}
html {
    font-family: Montserrat,  sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}